<section class="section" id="about">
  <img
    class="about__logo"
    src="assets/images/logo-wids-about.png"
    alt="Logotipo Women in Data Science"
  />
  <div class="col">
    <p>
      WiDS Valencia es un evento independiente organizado por las embajadoras
      Andrea Naranjo, Elena M. Codonyer, Laura Porto, Marta Hernández, Matea
      Jermanis, que forma parte de la
      <a rel="external" target="_blank" href="https://www.widsconference.org"
        >conferencia anual WiDS Worldwide organizada por la Universidad de
        Stanford</a
      >
      y con más de 200 ubicaciones en todo el mundo, que presenta a mujeres
      destacadas que realizan un trabajo excepcional en el campo de la ciencia
      de datos. Todos los géneros están invitados a asistir a todos los eventos
      de la conferencia WiDS Worldwide.
    </p>
  </div>
</section>
