<section class="section" id="about">
  <img
    class="about__logo"
    src="assets/images/logo-wids-about.png"
    alt="Logotipo Women in Data Science"
  />
  <div class="col">
    <p>
      Iniciante o con experiencia, aprende más sobre Ciencia de Datos en la
      tercera edición de WiDS Valencia, parte de la
      <a rel="external" target="_blank" href="https://www.widsconference.org"
        >Conferencia Global Women in Data Science (WiDS) celebrada por la
        Universidad de Stanford</a
      >
      que se lleva a cabo en más de 150 ciudades en todo el mundo.
    </p>
    <p>
      El objetivo es inspirar y educar a través de mujeres que destacan por su
      trabajo excepcional, al mismo tiempo contribuir a la visibilidad de estas
      expertas en datos.
    </p>
    <p>
      Esta conferencia técnica de un día ofrece la oportunidad de entablar
      relación con las últimas investigaciones y aplicaciones relacionadas a la
      ciencia de datos en una serie de dominios además de crear conexiones con
      profesionales.
    </p>
  </div>
</section>
