<header class="header">
  <h1 class="header__title">Women in Data Science <span>Valencia</span></h1>
  <p class="header__subtitle">11 de Junio de 2022</p>
  <p class="header__subtitle">
    <a
      href="https://www.google.com/maps/place/Las+Naves/@39.4587039,-0.3382737,15z/data=!4m2!3m1!1s0x0:0x37b1bcba9ad9547a?sa=X&ved=2ahUKEwieuLHo3tLrAhU6DWMBHVgADSYQ_BIwC3oECA0QCA"
      target="_blank"
      >Las Naves</a
    >
  </p>
  <a href="{{site.attendees_form}}" target="_blank" class="cta" title="Reserva tu entrada gratuita"
    >Reserva tu entrada gratuita para los talleres</a
  >
</header>
