---
---

@charset "utf-8";
@import "../_sass/mixins";

$cl-primary: #00B140;
$cl-primary-dark: #429885;
$cl-secondary: #E98300;
$cl-secondary-dark: #b86d0b;
$cl-secondary-light: #f5b767;
$cl-tertiary: #666995;
$cl-grey-01: #ffffff;
$cl-grey-02: #F2F2F2;
$cl-grey-04: #c3c3c3;
$cl-grey-05: #818181;
$cl-grey-10: #000000;

body {
    font-family: 'Roboto';
    font-size: 16px;
}

a {
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

.col {
    max-width: 1000px;
}

.navbar {
    padding: 1rem 0.5rem;
    background-color: $cl-grey-01;
    @media (min-width: 768px) {
        padding: 1rem 1.5rem;
    }
    a {
        text-transform: uppercase;
        span {
            margin-left: 1rem;
        }
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown-menu {
        text-align: center;
        li {
            padding: 1rem;
        }
    }
    .navbar-header {
        @media (min-width: 768px) {
            display: none;
        }
        @media (min-width: 1025px) {
            display: block;
        }
    }
}

.header {
    color: $cl-grey-01;
    background-color: $cl-grey-04;
    background-image: url('../images/2022/header_2022.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    &__title {
        text-align: center;
        font-size: 4rem;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        @media (min-width: 768px) {
            font-size: 5.5rem;
        }
    }
    &__subtitle {
        text-align: center;
        line-height: 1.5;
        font-size: 2.5rem;
    }
}

.cta {
    padding: 1rem 2rem;
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: transparent;
    color: $cl-grey-01;
    border: solid 2px $cl-grey-01;
    text-align: center;
    &:hover {
        color: $cl-grey-01;
        background-color: rgba(255, 255, 255, 0.178);
    }
    &:focus {
        color: $cl-grey-01;
    }
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12rem 1rem;
    text-align: center;
    font-size: 2rem;
    a {
        color: $cl-secondary;
        &:hover {
            color: $cl-secondary-dark
        }
        &:focus {
            text-decoration: none;
            color: $cl-secondary-dark
        }
    }
    &__title {
        font-weight: 700;
        font-size: 4rem;
        padding-bottom: 5rem;
    }
}

.section--alt {
    @extend .section; 
    color: $cl-grey-01;
    background-color: $cl-primary-dark;
    a {
        color: $cl-grey-01;
        &:hover {
            color: $cl-grey-04;
        }
        &:focus {
            text-decoration: none;
            color: $cl-grey-04;
        }
    }
}

.section--secondary {
    @extend .section; 
    color: $cl-grey-01;
    background-color: $cl-secondary-light;
}

.section--tertiary {
    @extend .section; 
    color: $cl-grey-01;
    background-color: $cl-tertiary;
    a {
        color: $cl-grey-01;
        border: solid 2px $cl-grey-01;
        &:hover {
            color: $cl-grey-01;
            background-color: rgba(255, 255, 255, 0.178);
        }
        &:focus {
            color: $cl-grey-01;
        }
    }
}

.about__logo {
    max-width: 20rem;
    margin-bottom: 4rem;
    @media (min-width: 768px) {
        max-width: 32rem;
    }
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1025px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card {
    padding: 2rem 0;
    &__name {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 700;
    }
    &__avatar {
        max-width: 27rem;
        padding: 2rem;
        border-radius: 15rem;
        @media (min-width: 768px) {
            max-width: 30rem;
        }
    }
    &__bio {
        font-weight: 500;
        padding-bottom: 1rem;
    }
    &__icon {
        color: $cl-grey-01;
        padding-right: 1rem;
        &:hover {
            color: $cl-grey-04;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.schedule {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    .table {
        border: none;
        th {
            border: none;
            padding: 1.5rem 0;
            text-align: center;
            background-color: $cl-primary-dark;
            color: $cl-grey-01;
            font-weight: 700;
            font-size: 2.25rem;
        }
        tr:nth-child(even) {
            background: $cl-grey-02;
        }
        td {
            padding: 2rem;
            border: none;
            text-align: left;
            vertical-align: middle;
        }
        
    }
}

.workshops {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10rem;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    &__title{
        font-size: 2.7rem;
        line-height: 1.5;
        padding-bottom: 3rem;
        text-transform: capitalize;
    }
    &__local {
        padding-bottom: 3rem;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 1.7rem;
    }
    &__social {
        padding-bottom: 3rem;
    }
    &__sumary {
        padding-bottom: 4rem;
    }
}

.partners {
    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    &__logo {
        max-width: 27rem;
        padding: 4rem 0;
        &--sm {
            max-width: 13rem;
        }
    }
    &__supporters {
        font-size: 3rem;
    }
}

.map {
    width: 100%;
    margin-top: 4rem;
    @media (min-width: 768px) {
        width: 37.5rem;
    }
    @media (min-width: 1025px) {
        width: 56.25rem;
    }
}

.footer--new {
    background-color: $cl-primary-dark;
    color: $cl-grey-01;
    padding: 7rem 0;
    a {
        color: $cl-grey-01;
        &:hover {
            color: $cl-grey-04;
        }
        &:focus {
            text-decoration: none;
            color: $cl-grey-04;
        }
    }
    .btns {
        padding-right: 1.5rem;
        &:last-child {
            padding-right: 0;
        }
    }
}

.dossier-partners{
    margin-top: 7rem;

    h4{
        &:hover {
        color: $cl-grey-02;
    }
    }
    
}